{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
{{claims_user_header()}}
<div class="b-wrapper b-wrapper--blue-bordered">
    <div class="b-top-tabs">
     {#   <a href="{{path('tarkett_structure.user_settings')}}" class="b-top-tabs__tab">
            <span class="b-top-tabs__tab-title b-top-tabs__tab-title--profile">Профиль</span>
        </a>#}
        <a class="b-top-tabs__tab b-top-tabs__tab--active">
            <span class="b-top-tabs__tab-title b-top-tabs__tab-title--claims">Обращения и претензии</span>
        </a>
        {# <a href="{{ path('entity.node.canonical', {'node': 18}) }}" class="b-top-tabs__tab"> #}
        <a href="/about_magazin" class="b-top-tabs__tab">
            <span class="b-top-tabs__tab-title b-top-tabs__tab-title--about">Описание сервиса</span>
        </a>
{#        <a class="b-top-tabs__tab">
            <span class="b-top-tabs__tab-title b-top-tabs__tab-title--help">Помощь</span>
        </a>#}
    </div>
</div>
<div class="b-middle">
    <div class="b-middle-form">
        <div class="b-col6 new-customer-claim from-market">
            <a href="{{ path('tarkett_structure.add_claim') }}?role=market" class="b-middle-form__new-claim c-button c-button_with_plus">
                <span class="text-desktop">Регистрация претензии покупателя</span><span class="text-mobile">Претензия покупателя</span>
            </a>
        </div>
        <div class="b-col6 new-market-claim">
            <a href="{{ path('tarkett_structure.add_claim_market') }}" class="b-middle-form__new-claim b-middle-form__new-claim_left c-button c-button_with_plus">
                <span class="text-desktop">Новая претензия магазина</span><span class="text-mobile">Претензия магазина</span>
            </a>
        </div>
    </div>
</div>
<div class="b-claims">
{#    <h3 class="b-claims__title">Работа с обращениями и претензиями</h3>#}
	{{ block_claims_list_tabs(view.id, view.display.display['id']) }}
    <div class="b-claims-list js-claims-content" data-id="1">
        <div class="b-filter">
            <div class="b-filter__title">Поиск по параметрам
                <div class="b-filter__toggle"></div>
            </div>
            <div class="b-filter-fields c-toggle">
				{{ exposed }}
            </div>
        </div>
{% if rows %}
        <div class="b-claim-item b-claims-titles col-7">
            <div class="b-claims-titles__title">
                <span class="b-claims-title__id">&nbsp;</span>
            </div>
            <div class="b-claims-titles__title">
                <span class="b-claims-title__id">ID:</span>
            </div>
            <div class="b-claims-titles__title">
                <span class="b-claims-title__date">Дата:</span>
            </div>
            <div class="b-claims-titles__title">
                Тип:
            </div>
            <div class="b-claims-titles__title">
                Продукт/коллекция:
            </div>
            <div class="b-claims-titles__title">
                Поступило от:
            </div>
            <div class="b-claims-titles__title">
                Статус:
            </div>
        </div>
  
  {{ attachment_before }}

  {{ rows }}
  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}
{% else %}
        <div class="b-claims-list_empty">Обращений и претензий нет.</div>
{% endif %}
    </div>
</div>
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
