<div class="b-reference-information{{ addition_class }}">
	<div class="b-reference-information__head">
		<div class="b-reference-information__pickt" style="background-image: url({{ img }});"></div>
		<h2>{{ title }}</h2>
		<p class="grey big">{{ announce }}</p>
	</div>
	<div class="b-reference-information__text">
		{{ text }}
	</div>
</div>
